# Lists

In [1]:
#Lists must be contained in square brackets
#Lists can occur in numbers:
numbers = [34,12,45,56,12,34,76,100,100,-1]

In [2]:
numbers

[34, 12, 45, 56, 12, 34, 76, 100, 100, -1]

In [3]:
#Or strings...:
names = ["Lamela",'Son','Dier','Kane','Harry','Victor','Tripier','Rose']

In [4]:
names

['Lamela', 'Son', 'Dier', 'Kane', 'Harry', 'Victor', 'Tripier', 'Rose']

In [5]:
#Empty lists can be made by using just the square brackets:
empty_list_1 = []

In [6]:
empty_list_1

[]

In [7]:
#Or by using the list() command
empty_list_2 = list()

In [8]:
empty_list_2

[]

In [9]:
#Strings and numbers can be declared in the same list:
string_numbers = ['Eric',1,1.5,'Jackie','Pius',1234]

In [10]:
string_numbers

['Eric', 1, 1.5, 'Jackie', 'Pius', 1234]

In [11]:
#A list can have other lists inside it:
list_list = [[1,2.3,3,4,5,6,7,8,9],'name 1','name 2',3,['happpy',"me"]]

In [12]:
list_list

[[1, 2.3, 3, 4, 5, 6, 7, 8, 9], 'name 1', 'name 2', 3, ['happpy', 'me']]

### Using Lists

In [13]:
for a in names:
    print("Happy Birthday ",a)

Happy Birthday  Lamela
Happy Birthday  Son
Happy Birthday  Dier
Happy Birthday  Kane
Happy Birthday  Harry
Happy Birthday  Victor
Happy Birthday  Tripier
Happy Birthday  Rose

### Positions of values in lists

In [14]:
names
names[-1]

'Rose'

### Manipulating list values

In [15]:
names[0] = "Mary"

In [16]:
names

['Mary', 'Son', 'Dier', 'Kane', 'Harry', 'Victor', 'Tripier', 'Rose']

In [17]:
names[1] = 2354
names

['Mary', 2354, 'Dier', 'Kane', 'Harry', 'Victor', 'Tripier', 'Rose']

In [18]:
len(names)

8

In [19]:
for b in range(len(names)):
    print(names[b])

Mary
2354
Dier
Kane
Harry
Victor
Tripier
Rose

In [20]:
combine = numbers + names

In [21]:
combine

[34,
 12,
 45,
 56,
 12,
 34,
 76,
 100,
 100,
 -1,
 'Mary',
 2354,
 'Dier',
 'Kane',
 'Harry',
 'Victor',
 'Tripier',
 'Rose']

In [22]:
names[1] = "Teresa"

In [23]:
names

['Mary', 'Teresa', 'Dier', 'Kane', 'Harry', 'Victor', 'Tripier', 'Rose']

In [24]:
print(names[2:8])

['Dier', 'Kane', 'Harry', 'Victor', 'Tripier', 'Rose']

In [25]:
print(names[7:0:-1])

['Rose', 'Tripier', 'Victor', 'Harry', 'Kane', 'Dier', 'Teresa']

## List operations

In [4]:
new_list = list()
new_list2 = []

In [5]:
new_list

[]

In [6]:
new_list2

[]

### .Append()

In [7]:
new_list.append(12)
new_list.append(13)
new_list.append(14)
new_list.append(15)
new_list.append(16)
new_list

[12, 13, 14, 15, 16]

In [8]:
new_list2.append("a")
new_list2.append("b")
new_list2.append("c")
new_list2.append("d")
new_list2.append("e")
new_list2.append("y")
new_list2.append("a")
new_list2

['a', 'b', 'c', 'd', 'e', 'y', 'a']

### Count()

In [9]:
new_list2.count('a')

2

### .extend()

In [10]:
new_list2.extend(["a","b","x"])
new_list2

['a', 'b', 'c', 'd', 'e', 'y', 'a', 'a', 'b', 'x']

### .index()

In [11]:
new_list2.index("a")

0

### .insert()

In [18]:
new_list2.insert(0,"q")
new_list2

['q',
 'q',
 'q',
 'q',
 'q',
 'q',
 'q',
 'a',
 'b',
 'c',
 'd',
 'e',
 'y',
 'a',
 'a',
 'b',
 'x']

In [35]:
len(new_list2)

11

In [36]:
new_list2.insert(10,"m")
new_list2

['q', 'a', 'b', 'c', 'd', 'e', 'y', 'a', 'a', 'b', 'm', 'x']

In [37]:
new_list2.sort()
new_list2

['a', 'a', 'a', 'b', 'b', 'c', 'd', 'e', 'm', 'q', 'x', 'y']

In [38]:
new_list2.reverse()
new_list2

['y', 'x', 'q', 'm', 'e', 'd', 'c', 'b', 'b', 'a', 'a', 'a']

In [39]:
new_list2.pop()
new_list2

['y', 'x', 'q', 'm', 'e', 'd', 'c', 'b', 'b', 'a', 'a']

In [40]:
new_list2.remove("a")
new_list2

['y', 'x', 'q', 'm', 'e', 'd', 'c', 'b', 'b', 'a']

In [41]:
print(new_list)
min(new_list)

[12, 13, 14, 15, 16]

12

In [42]:
max(new_list)

16

In [43]:
sum(new_list)

70

In [44]:
sum(new_list)/len(new_list)

14.0

In [45]:
type(new_list)

list

In [46]:
11 in new_list

False

In [47]:
12 in new_list

True

In [53]:
sentence = "I have no sentence to use as an example"
sentence

'I have no sentence to use as an example'

In [54]:
sentence_list = sentence.split()
sentence_list

['I', 'have', 'no', 'sentence', 'to', 'use', 'as', 'an', 'example']

In [56]:
sentence2 = "I-have-no-sentence-to-use-an-example"
sentence_list2 = sentence2.split("-")
sentence_list2

['I', 'have', 'no', 'sentence', 'to', 'use', 'an', 'example']