In [1]:
import numpy as np
import pandas as pd

# Creating series

You can create a series from a list,dictionary or array

In [2]:
labels = ['a','b','c']
my_list = [10,20,30]
arr = np.array([10,20,30])
d = {'a':10,'b':20,'c':30}

In [3]:
pd.Series(data=my_list)

0    10
1    20
2    30
dtype: int64

In [4]:
pd.Series(data=labels)

0    a
1    b
2    c
dtype: object

In 'pd.Series()', the 'data=' parameter specifies the data set from which the serires is to be created

In [5]:
pd.Series(data=my_list,index=labels)

a    10
b    20
c    30
dtype: int64

The 'index=' gives the labels of each row

### Arrays

In [6]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int32

### Dictionaries

In [7]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [8]:
my_data = pd.Series(data=labels)
my_data

0    a
1    b
2    c
dtype: object

In [9]:
my_data[1]

'b'

In [10]:
list_1 = [1,2,3,4]
list_2 = ['USA','GERMANY','USSR','JAPAN']

In [11]:
ser_1 = pd.Series(list_2,list_1)
ser_1

1        USA
2    GERMANY
3       USSR
4      JAPAN
dtype: object

In [12]:
list_3 = ['USA','GERMANY','ITALY','JAPAN']

In [13]:
ser_3 = pd.Series(list_1,list_3)
ser_3

USA        1
GERMANY    2
ITALY      3
JAPAN      4
dtype: int64