# Constants

String constants can be put between single or double quotations.

In [1]:
print("Hello World")

Hello World

In [2]:
print('Hello World')

Hello World

In [3]:
print(3.14)

3.14

In [4]:
print('3.14')

3.14

### Creating Variables

In [5]:
name = 'Storm'

In [6]:
print(name)

Storm

Variables must start with an underscore or a letter. *NOT* a number

In [7]:
_name = "Storm"

In [8]:
print(_name)

Storm

In [9]:
_name1 ="Storm"

In [10]:
print(_name1)

Storm

In [11]:
pi = 3.14

In [12]:
print(pi)

3.14

In [13]:
print(name)

Storm

Variables are case sensitive, so you can make different variables of the same name but change the case of either/all the characters.

In [14]:
Name = "James"

In [15]:
print(name)

Storm

In [16]:
print(Name)

James

In [17]:
NAME = "Suzan"

In [18]:
print(Name)

James

In [19]:
print(name)
print(Name)
print(NAME)

Storm
James
Suzan

Variables occur in two types:Numerical and Strings. 
Numerical values occur in two types: Integers and Floats. 
Floats have decimals, while integers do not.

### Numerical Computation

#### Add

In [20]:
first = 10
second = 6

In [21]:
print(first + second)

16

#### Minus

In [22]:
first-second

4

#### Division

In [23]:
first / second

1.6666666666666667

#### Multiplication

In [24]:
first * second

60

In [25]:
print(first*second)

60

#### Power

In [26]:
first ** second

1000000

In [27]:
2 ** 3

8

#### Modulus/Remainder

In [28]:
first % second

4

#### Order of Operation

In [29]:
x = (5+4)-2/6*4
print(x)

7.666666666666667

### Variable assignment

In [30]:
a = 1
b = 2
c = a
a = 3

In [31]:
print(a,b,c)

3 2 1

## Expressions

In [32]:
m = -1

In [33]:
x = 8

In [34]:
c = 6

In [35]:
y = m * x + c

In [36]:
y

-2

In [37]:
m2 = 34

In [38]:
x2 = 45

In [39]:
c2 = 56

In [40]:
y2 = m2*x2+c2

In [41]:
y2

1586

In [42]:
m = 1,2,3,6,8,9

In [43]:
m

(1, 2, 3, 6, 8, 9)

### Data types and Concantenation

In [44]:
1+2

3

In [45]:
1+2.9

3.9

In [46]:
'Hello '+'World'

'Hello World'

In [47]:
'Hello '+'World'+' 1'

'Hello World 1'

In [48]:
a = "hello"+"there"

In [49]:
a

'hellothere'

## Type Function

In [50]:
a = "123"
type(a)

str

In [51]:
a = 123
type(a)

int

In [52]:
a = 123.0
type(a)

float

## Type Conversions / Type Casting

In [74]:
#Changing the type of data i.e string to int or float 
#or integer to string or float or float to integer or  string

In [53]:
a = "123"

In [54]:
type(a)

str

In [55]:
int(a)

123

In [56]:
b = int(a)

In [57]:
type(b)

int

In [58]:
float(a)

123.0

In [59]:
c = 32.7685

In [60]:
int(c)

32

## Input data

In [61]:
name = input("Enter Your Name: ")

Enter Your Name: Storm

In [62]:
name

'Storm'

In [63]:
age = input("Enter your age: ")

Enter your age: 19

In [64]:
age

'19'

### Converting User Input

In [65]:
#Because all input is captured as a string

In [66]:
int(age)

19

In [67]:
age = int(input("Enter your age: "))

Enter your age: 19

In [68]:
age

19

In [69]:
type(age)

int

## String Operations

In [70]:
#'+' implies concatenation
#'*' implies multiple concatenation

In [71]:
a = "Hi"*5

In [72]:
a

'HiHiHiHiHi'