In [1]:
import pandas as pd
import numpy as np

In [2]:
pwd

'C:\\Users\\zalego\\Desktop\\python-programming'

# CSV

### Input

In [3]:
df = pd.read_csv('example')
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

### Output

In [11]:
df.to_csv('example',index=False)
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [20]:
from numpy.random import randn
np.random.seed(101)
weather = pd.DataFrame(randn(5,4),index ="Monday Tuesday Wednesday Thursday Friday".split(),columns='Rainfall Wind Temp Humidity'.split())
weather.to_csv('weather.csv',index=True)
weather

           Rainfall      Wind      Temp  Humidity
Monday     2.706850  0.628133  0.907969  0.503826
Tuesday    0.651118 -0.319318 -0.848077  0.605965
Wednesday -2.018168  0.740122  0.528813 -0.589001
Thursday   0.188695 -0.758872 -0.933237  0.955057
Friday     0.190794  1.978757  2.605967  0.683509

In [21]:
weather1 = pd.read_csv('weather.csv')
weather1

  Unnamed: 0  Rainfall      Wind      Temp  Humidity
0     Monday  2.706850  0.628133  0.907969  0.503826
1    Tuesday  0.651118 -0.319318 -0.848077  0.605965
2  Wednesday -2.018168  0.740122  0.528813 -0.589001
3   Thursday  0.188695 -0.758872 -0.933237  0.955057
4     Friday  0.190794  1.978757  2.605967  0.683509

## Excel

### Excel Input

In [23]:
df1 = pd.read_excel('Excel_Sample.xlsx',sheet_name='Sheet1') 
df1

   Unnamed: 0   a   b   c   d
0           0   0   1   2   3
1           1   4   5   6   7
2           2   8   9  10  11
3           3  12  13  14  15

### Excel Output

In [26]:
weather.to_excel("weather.xlsx",sheet_name='Sheet1')

You may need to install htmllib5,lxml and BeautifulSoup4. In your terminal/command prompt, run:
    conda install lxml
    conda install html5lib
    conda install BeautifulSoup4

Then restart Jupyter Notebook. (or use pip install  if you aren't using the Anaconda Distribution)

Pandas can read table tabs off of HTML:

## HTML Input

In [ ]:
df.read_html('http://www.fdic.gov/bank/individual/failed/banklist.html')
df.read_html('https://centralbank.co.ke/')

## SQL

In [28]:
from sqlalchemy import create_engine

In [30]:
engine = create_engine('sqlite:///:memory:')

In [32]:
df.to_sql('data',engine)

In [33]:
sql_df = pd.read_sql('data',con=engine)

In [34]:
sql_df

   index   a   b   c   d
0      0   0   1   2   3
1      1   4   5   6   7
2      2   8   9  10  11
3      3  12  13  14  15

In [35]:
weather.to_sql('weather',engine)

In [40]:
sql_weather = pd.read_sql('weather',con=engine)

In [42]:
sql_weather.set_index('index')

           Rainfall      Wind      Temp  Humidity
index
Monday     2.706850  0.628133  0.907969  0.503826
Tuesday    0.651118 -0.319318 -0.848077  0.605965
Wednesday -2.018168  0.740122  0.528813 -0.589001
Thursday   0.188695 -0.758872 -0.933237  0.955057
Friday     0.190794  1.978757  2.605967  0.683509

In [44]:
help(df.set_index)

Help on method set_index in module pandas.core.frame:

set_index(keys, drop=True, append=False, inplace=False, verify_integrity=False) method of pandas.core.frame.DataFrame instance
    Set the DataFrame index using existing columns.

    Set the DataFrame index (row labels) using one or more existing
    columns or arrays (of the correct length). The index can replace the
    existing index or expand on it.

    Parameters
    ----------
    keys : label or array-like or list of labels/arrays
        This parameter can be either a single column key, a single array of
        the same length as the calling DataFrame, or a list containing an
        arbitrary combination of column keys and arrays. Here, "array"
        encompasses :class:`Series`, :class:`Index` and ``np.ndarray``.
    drop : bool, default True
        Delete columns to be used as the new index.
    append : bool, default False
        Whether to append columns to existing index.
    inplace : bool, default False
        Modify the DataFrame in place (do not create a new object).
    verify_integrity : bool, default False
        Check the new index for duplicates. Otherwise defer the check until
        necessary. Setting to False will improve the performance of this
        method.

    Returns
    -------
    DataFrame
        Changed row labels.

    See Also
    --------
    DataFrame.reset_index : Opposite of set_index.
    DataFrame.reindex : Change to new indices or expand indices.
    DataFrame.reindex_like : Change to same indices as other DataFrame.

    Examples
    --------
    >>> df = pd.DataFrame({'month': [1, 4, 7, 10],
    ...                    'year': [2012, 2014, 2013, 2014],
    ...                    'sale': [55, 40, 84, 31]})
    >>> df
       month  year  sale
    0      1  2012    55
    1      4  2014    40
    2      7  2013    84
    3     10  2014    31

    Set the index to become the 'month' column:

    >>> df.set_index('month')
           year  sale
    month
    1      2012    55
    4      2014    40
    7      2013    84
    10     2014    31

    Create a MultiIndex using columns 'year' and 'month':

    >>> df.set_index(['year', 'month'])
                sale
    year  month
    2012  1     55
    2014  4     40
    2013  7     84
    2014  10    31

    Create a MultiIndex using an Index and a column:

    >>> df.set_index([pd.Index([1, 2, 3, 4]), 'year'])
             month  sale
       year
    1  2012  1      55
    2  2014  4      40
    3  2013  7      84
    4  2014  10     31

    Create a MultiIndex using two Series:

    >>> s = pd.Series([1, 2, 3, 4])
    >>> df.set_index([s, s**2])
          month  year  sale
    1 1       1  2012    55
    2 4       4  2014    40
    3 9       7  2013    84
    4 16     10  2014    31