In [1]:
my_empty = ("Test","Test 1","Test 2","Test 3",1,2,3,4)
type(my_empty)
print(my_empty)

('Test', 'Test 1', 'Test 2', 'Test 3', 1, 2, 3, 4)

In [2]:
my_empty[0]

'Test'

In [3]:
my_empty[1]

'Test 1'

In [4]:
#my_empty[0] = 3
#You cannot change a tuple

In [5]:
for a in my_empty:
    print(a)

Test
Test 1
Test 2
Test 3
1
2
3
4

# You can't....

#Sort a tuple like you would in a tuple
#Use most of the functions used in strings

# You can...

#Count the frequency of a number
#Find the index of a number
#Use Double Assignment

In [6]:
my_empty.count(32)

0

In [7]:
my_empty.index(1)

4

## Double Assignment

#x,y = 1,2
#x,y = (1,2)
#(x,y) = (1,2)

In [8]:
#x,y = 1,2
#x,y = (1,2)
#(x,y) = (1,2)
#x,y = (1),(2)

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>

In [9]:
(x,y) = (1,2)
#This is the only tuple

In [10]:
name = dict()
name['jack'] = 1
name['pack'] = 10
name['dack'] = 30
name['zack'] = 40

In [11]:
name

{'jack': 1, 'pack': 10, 'dack': 30, 'zack': 40}

In [12]:
name_tuple = name.items()

In [13]:
name_tuple

dict_items([('jack', 1), ('pack', 10), ('dack', 30), ('zack', 40)])

In [14]:
t = (sorted(name.items()))

In [15]:
t

[('dack', 30), ('jack', 1), ('pack', 10), ('zack', 40)]